// importing:::
@import '../../sass-utl/_transitions'
// styling:::
button.sudo-btn
  width: 10rem
  height: 3rem
  border-radius: 0.7rem
  font-weight: bold
  border-style: solid
  font-size: 16px
  text-align: center
  transition: $fast_transition
  margin: 5rem auto 0
  &:hover
    transform: scale(1.05)
