// importing:::
@import '../../sass-utl/_transitions'
@import '../../sass-utl/_colors'
@import '../../sass-utl/_fonts'
@import '../../sass-utl/_mixins'

// styling:::
section.services-wrapper
  text-align: center
  h3.services-title
    margin: 7rem 0 3rem
    text-transform: uppercase
    font-weight: bold
    color: $alt_dark
  ul.services-list
    display: flex
    flex-wrap: wrap
    justify-content: center
    @include no-list-style()
    li
      width: 12rem
      pading: 1rem
      margin: 0.5rem
      &:hover
        span
          transform: scale(1.1)
      span.icon
        color: $alt_cl-1
        margin-bottom: 1rem
        transition: $fast_transition
        display: block
        font-size: 2rem
      p.description
        font-size: 14px
