
@keyframes slide-to-top
  0%
    transform: translate(0, 2rem)

  100%
    transform: translate(0, 0)

@keyframes graded-opacity
  0%
    opacity: 0

  100%
    opacity: 1

@keyframes slide-right-lift
  0%
    left: 100%

  100%
    left: 0
