// clors:
$main_cl: #75a339
$alt_cl: #5e7a91
$alt_cl-1: #decd87
$alt_cl-2: #ac9393

// grays:
$main_dark: #111416
$alt_dark: #1f2833
$main_white: #fcfcfc
$main_gray: #e5e7ef
$alt_gray: #ddd
$alt_gray-1: #999
