// importing:::
@import '../../sass-utl/_transitions'
@import '../../sass-utl/_colors'
@import '../../sass-utl/_fonts'
@import '../../sass-utl/_mixins'

// styling:::
section.prods-filter
  border: 1px solid $alt_gray
  border-radius: 0.7rem
  padding: 0.5rem
  .filter-header
    display: flex
    align-items: flex-start
    justify-content: space-between
    span.icon
      font-size: 1.3rem
      width: 2.1rem
      height: 2.1rem
      display: flex
      align-items: center
      justify-content: center
      border-radius: 50%
      color: $alt_gray-1
